@charset "utf-8";
/* CSS Document */

/*color #3BA6F7 or RGB rgb 59, 166, 247*/


.griddy {
	padding: 0 10px;
	height: 100vh !important;
	max-width: 1024px;
	border: thin solid #D9D9D9;
	overflow: scroll;
}

.row-nav {
	height:5%;
}

.row1 {
	height: 15%;


}
.row2 {
	height: 8%;

}
.row3 {
	height: 15%;

}
.row4 {
	height: 10%;
	
}
.row5 {
	height: 45%;
	overflow: scroll;
}

h5 {
	font-size: 1.1em;
}

.instructions ol li p {
	font-size: 0.7em;
	color: darkgrey;
}






/*navigation*/
.active-nav {
	background-color: #3BA6F7;
	color: white;
}

.square-field {
	height: 45px;
	width: 45px;
	text-align: center;
	padding-top: 10px;

}




.inactive-nav {
	background-color: white;
	border-bottom: 1px solid #3BA6F7;
	border-right: 1px solid #3BA6F7;
	border-top: 1px solid #3BA6F7;
	height: 60%;
}

/*buttons*/

.btn {
/*    padding: 14px 30px;*/
    border: 1px solid #3BA6F7;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	border-radius: 0;
	margin: 0;
	font-size: 13px;
	color: #3BA6F7;
	height: 90%;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
	background-color: #3BA6F7 !important;

	
}

.active-nav {
		background-color: #3BA6F7 !important;
	border: 1px solid #3BA6F7 !important;
}



/*font awesome styling*/

#menu i{
	font-size: 40px; 
	color: #3BA6F7;
}

#profile-info i{
	margin: 5px;
	font-size: 30px; 
	color: #3BA6F7;
}

#profile-info p{ 
	font-size: 0.6em; 
	color: #3BA6F7;
}

.blue-subheadings  {
	color: #3BA6F7;
	font-size: 1em;
}


input {
	width: 55px;
}

table {
	padding: 10px;
}

th {
	border: none;
}
